<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/ssp-icon.png">
    <title>Silver St. Poker Landing Page</title>
</head>
<body>
    <header>Welcome to the Silver St. Poker</header>
    <div>{{message}}</div>
    <form method="POST" action="/submit-form">
        <input type="text" name="username" />
        <input type="submit" />
      </form>
</body>
</html>
